.bg {
    /* The image used */
    background-image: url("/assets/404.jpg");
  
    /* Full height */
    height: 100vh;
    width: 100wh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  #home_btn_404 {
    position:absolute; 
    margin-left:-50px;
    left:50%;
    bottom:50px;
  }

body {
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);

}

.led_temp_1 {
  background-color: rgb(39, 39, 39);
  margin: 5px;
}
.led_temp_2 {
  background-color: rgb(39, 39, 39);
  margin: 5px;
}
.led_temp_3 {
  background-color:rgb(39, 39, 39);
  margin: 5px;
}
.gauge_humidity {
  display: 'block';
}
/* dropdown menu options */
.VirtualizedSelectOption {
  background-color: black;
  color: rgb(255, 255, 255);
}
/* dropdown menu hover effect */
.VirtualizedSelectFocusedOption {
  background-color: black;
  opacity: .7;
}
/* border on focus - default is blue
 * shadow box around input box.  default is blue
 */
 .is-focused:not(.is-open) > .Select-control {
  border-color: var(--primary); 
  background-color: black;
  box-shadow: none;
}
/* input box */
.Select-control {
  background-color: black;
}


/* changes the text color of input box */
.Select-value-label {
  color: rgb(255, 255, 255) !important;
  background-color: black;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
  border: 1px solid grey;
  border-radius: 4px;
  background-color: black;
}